<h1>项目申请书 《基于web的DNA测序结果综合管理系统》</h1>
<style>
h2{background:#eee;color:#000; padding:10px;}
.wrap{margin:5px 20px;}
</style>

<div class='wrap'>
<h2>立项背景和意义</h2>
<p>载体构建是很多生物类实验的常规流程，载体构建流程的最后一步需要测序验证，复杂载体甚至要多次测序，通过分析测序文件以确认载体是否正确。然而随着工作量和时间的积累，将产生大量测序结果分析文件，这给日后载体信息的检索、补充和分析都带来很大挑战。该问题亟待解决。
</p><p>本项目要开发一套基于WEB的测序结果的综合管理系统，使用简洁明了的界面，实现对DNA测序结果及分析文件的存储、整合、分类、查询等功能。
</p><p>该系统的实施应用，将极大地提高分子实验的管理水平,并为分子实验研究人员节约大量时间。该系统具有很高的应用和推广价值。

<h2>项 目 内 容、方 法 和 拟 解 决 问 题</h2>
<pre>
<b>拟解决问题</b>
希望通过计算机技术解决实验室中DNA测序结果管理不便的问题。

<b>系统目标</b>
测序结果管理系统的主要服务于学生（实验人员）和导师（管理人员）。
1)完善的用户权限控制（如：管理员登录、普通用户注册、登录）
2)方便的记录引物、测序结果分析等；
3)方便的分类检索功能；
4)导出备份；
5)导出本地静态化网页；
6)简洁通俗的系统帮助文档；
7)完善的系统日志；

<b>技术路线</b>
1.通过需求调研，汇总DNA测序结果保存中遇到的问题及想法；
2.设计简洁明了的界面和数据库，解决这些共性问题；
3.基于成熟开源的php、mysql等web技术，开发一套基于web的DNA测序结果综合管理系统，并编写使用说明书；
4.测试：通过分子类实验人员的试用，改进并完善该系统。

<b>团队分工</b>
团队成员都是我实验室全日制研究生，有大量的分子实验经验，对该项目拟解决的问题有一致的看法。王军亮对php语言比较熟悉，能胜任项目的开发。具体分工如下：
1.吕小翠、祝晓晴、张丹负责需求调研、分析，并参与软件设计；
2.王军亮负责并协调软件的开发；
3.李一帆、王婷婷负责软件测试，并编写使用手册；

<b>经费预算</b>
1.书本及打印资料费：500元；
2.web服务器：域名500元，服务器租用1000元；
3.技术攻关预备费用：1000元；
</pre>



<h2>特 色 与 创 新</h2>
<p>基于WEB的DNA测序结果综合管理系统，具有迅速检索、查找方便、可靠性高、存储量大、成本低等优点，这些优点能够极大提高研究者对DNA测序结果的管理效率。同时设置了严格的权限机制和日志、备份机制，保证了数据的安全。
</p>
<p>DNA测序结果的管理系统是细分领域急需的解决方案，但是目前还未见相关报道。</p>


<h2>预 期 成 果</h2>
<p>1. “基于WEB的DNA测序结果综合管理系统”软件一套；</p>
<p>2. “基于WEB的DNA测序结果综合管理系统”软件说明书一份；</p>
<p>3. 申请“基于WEB的DNA测序结果综合管理系统”软件著作权一项。</p>


<h2>项 目 进 度 安 排</h2>
<pre>
1.2015.11-2015.12 调研需求和软件设计；
2.2016.1-2016.6 开发主要功能和附加功能；
3.2016.7-2016.8测试系统，同时编写软件说明书；
3.2016.8-2016.9 申请软件著作权；
4.2016.10~2016~11 结项。
</pre>
</div>