<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>我的检索</title>
        <link href="{$Think.const.CSS_URL}/admin.css" type="text/css" rel="stylesheet" />
        <link href="{$Think.const.CSS_URL}/mine.css?time=201609181" type="text/css" rel="stylesheet" />
        <script src="{$Think.const.js_URL}/jquery-3.1.0.min.js"></script>
    </head>
    
    <body>
       <table cellspacing=0 cellpadding=0 width="100%" align=center border=0>
            <tr height=28>
                <td background={$Think.const.IMG_URL}/title_bg1.jpg>当前位置：搜索->我的检索                 
                </td>
            </tr>
            <tr>
                <td bgcolor=#b1ceef height=1></td></tr>
            <tr height=20>
                <td background={$Think.const.IMG_URL}/shadow_bg.jpg></td></tr>
        </table>
        
        
<div style="font-size: 13px; margin: 10px 5px;">
        
    <div class='center'>
        <form action="__SELF__" method="get">
            <div id='by_btn'>
                <a class='btn' href="javascript:void(0);" title='cate'>按照类别索引</a>
                <a class='btn' href="javascript:void(0);" title='tag'>按照标签索引</a>
                <a class='btn blue' href="javascript:void(0);" title='keyword'>按照关键词搜索</a>
		    </div>
		    <br />
		    
	        <input type='hidden' name='by_input' value='keyword' id='by_input' />
	        <input type='text' name='keyword' id='kw' />
	        <input class='search' type='button' id='search' value='搜索'>
	        <br />
	        <br />
	        
		    <span class='radio'><input type='radio' name='info_type' value='Seq' checked>序列</input></span>
		    <span class='radio'><input type='radio' name='info_type' value='Oligo'>引物</input></span>
		    <span class='radio'><input type='radio' name='info_type' value='File'>文件</input></span>
        </form>
		 
		 <pre>
		      <div id=search_list></div>
		 </pre>       
    </div>
        
        

        
            

</div>
    </body>
<script>
function n(s){console.log(s);}
function m$(o){return document.getElementById(o);}
window.onload=function(){
	//点击显示查找方式
	var aA=$('#by_btn a');
	for(var i=0,l=aA.length;i<l;i++){
	    aA[i].onclick=function(){
		    //改样式
	    	$('#by_btn a').attr('class','btn');
	    	$(this).attr('class','btn blue');
	    	//改值
	    	m$('by_input').value=$(this).attr('title');
		};
	}


}

var prefix='cate';

//搜索按钮
$('#search').on('click',function(){
	var f=document.forms[0];
	$.ajax({
      url: "/Admin/Api/cate",
      data: {
		keyword: f.keyword.value,
		by_input:f.by_input.value,
		info_type:f.info_type.value,
      },
      success: function(result) {
          var str='<table class="table_a" border="1" width="100%">';
          str += "<tr><th>id</th><th>名字</th><th>创建时间</th><th>上次修改时间</th></tr>";
          for(var i=0;i<result.length; i++){
             var dt=result[i];
             //n(dt); wjl=dt;
        	 str += "<tr><td>"+dt[prefix+'_id']+"</td><td>"+dt[prefix+'_name']+"</td>";
        	 str += "<td>"+dt[prefix+'_time']+"</td><td>"+dt[prefix+'_mod_time']+"</td></tr>";
          }
          str += "</table>";
        m$( "search_list" ).innerHTML=str;
 	    //console.log(result);
 	    //console.log(result);
      }
    });
});
	
</script>
</html>