<taglib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>添加引物</title>
        <link href="{$Think.const.CSS_URL}/admin.css" type="text/css" rel="stylesheet" />
        <link href="{$Think.const.CSS_URL}/mine.css?time=20160913" type="text/css" rel="stylesheet" />
    </head>
    <body>
       <table cellspacing=0 cellpadding=0 width="100%" align=center border=0>
            <tr height=28>
                <td background={$Think.const.IMG_URL}/title_bg1.jpg>当前位置：引物管理->添加引物</td>
            </tr>
            <tr>
                <td bgcolor=#b1ceef height=1></td></tr>
            <tr height=20>
                <td background={$Think.const.IMG_URL}/shadow_bg.jpg></td></tr>
        </table>
        
        
        <div style="font-size: 13px; margin: 10px 5px;">
        <form action="__SELF__" method="post" enctype="multipart/form-data">
            <table class="table_a" border="1" width="100%">



<!-- ------------- -->
<tr class=title><td colspan="2">核心信息</td></tr> 
                <tr>
                    <td>引物名称:</td>
                    <td><input type=text name='oligo_name' size=50></td>
                </tr>
                <tr>
                    <td>订单号:</td>
                    <td><input type=text name='oligo_order_no' size=50></td>
                </tr>
                <tr>
                    <td>序列:</td>
                    <td><textarea type=text name='oligo_sequence' rows='5' cols='50'></textarea></td>
                </tr>
                <tr>
                    <td>酶切位点:</td>
                    <td><input type=text name='oligo_en_site' size=50></td>
                </tr>

                <tr>
                    <td>备注:</td>
                    <td><textarea type=text name='oligo_note' rows='3' cols='50'></textarea></td>
                </tr>
                
                <tr>
                    <td>附件:</td>
                    <td>
	                    <div id='file_list'>
	                        <span>
	                            <input type='file' name='file_ids[]'>
	                            <a href="javascript:void(0);" onclick="del_file_btn(this)">删除</a>
	                            <br />
	                        </span>
	                    </div>
	                    <a href='javascript:add_file_btn()'>添加</a>
<script>
//tools
function $(s){return document.getElementById(s);}
function del_file_btn(div){
    var pDiv=div.parentNode;
    pDiv.parentNode.removeChild(pDiv);
}

function add_file_btn(){
	//添加span标签
    var oSpan=document.createElement('span');
	//添加file按钮
    var oInput=document.createElement('input');
    oInput.setAttribute('type','file');
    oInput.setAttribute('name','file_ids[]');
    //添加删除按钮
    var oADel=document.createElement('a');
    oADel.setAttribute('href','javascript:void(0);');
    oADel.setAttribute('onclick','del_file_btn(this)');
    oADel.innerHTML='删除';
    //添加br换行
    var oBr=document.createElement('br');

    //添加到span中
    oSpan.appendChild(oInput);
    oSpan.appendChild(oADel);
    oSpan.appendChild(oBr);
    
    //插入到原来dom中
    //父级.appendChild(子节点);
    var file_line=document.getElementById('file_list') 
    file_line.appendChild(oSpan);
}
</script>
                    </td>
                </tr>
                
 
 
 
 
 
<!-- ------------- -->
<tr class=title><td colspan="2">类别信息</td></tr>     
                <tr>
                    <td>设置分类:</td>
                    <td>
                        <html:select name='cate_id' options="cate_list" />
                    </td>
                </tr>
                <tr>
                    <td>添加标签:</td>
                    <td><input type=text name='tag_ids' size=50>
                        <span class=red> 请使用空格或回车分隔不同标签, 最多可输入5个 </span>
                    </td>
                </tr>


 
 
<!-- ------------- -->
<tr class=title><td colspan="2">位置信息</td></tr>
    
                <tr>
                    <td>所在冰箱:</td>
                    <td>
                        <html:select name='fridge_id' options="fridge_list" />
                    </td>
                </tr>
                <tr>
                    <td>所在盒子:</td>
                    <td>
                        <html:select name='box_id' options="box_list" />
                    </td>
                </tr>
                <tr>
                    <td>在盒子内的行列坐标:</td>
                    <td><input type=text name='place' size=50>
                        <span class=red>例:冻存管保存在第1行第8列就记做 (1,8)</span>
                    </td>
                </tr>

            </table>



<br />
<input type='submit' value='提交'>
<input type='button' onclick="history.back(-1)" value='返回'>
           </form> 

        </div>
    </body>
</html>