<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>添加冰箱</title>
        <link href="{$Think.const.CSS_URL}/admin.css" type="text/css" rel="stylesheet" />
        <link href="{$Think.const.CSS_URL}/mine.css?time=20160913" type="text/css" rel="stylesheet" />
    </head>
    <body>
       <table cellspacing=0 cellpadding=0 width="100%" align=center border=0>
            <tr height=28>
                <td background={$Think.const.IMG_URL}/title_bg1.jpg>当前位置：位置管理->添加冰箱</td>
            </tr>
            <tr>
                <td bgcolor=#b1ceef height=1></td></tr>
            <tr height=20>
                <td background={$Think.const.IMG_URL}/shadow_bg.jpg></td></tr>
        </table>
        
        
        <div style="font-size: 13px; margin: 10px 5px;">
        <form action="__SELF__" method="post" enctype="multipart/form-data">
            <table class="table_a" border="1" width="100%">
                
                <tr>
                    <td>冰箱名称:</td>
                    <td><input type=text name='fr_name' size=50></td>
                </tr>
                <tr>
                    <td>冰箱放置位置:</td>
                    <td><input type=text name='fr_place' size=50></td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td><input type=text name='fr_note' size=50></td>
                </tr>
                
                <tr>
                    <td></td>
                    <td><input type='submit' value='提交'>
                    <input type='button' onclick="history.back(-1)" value='返回'></td>
                </tr>
            </table>
           </form> 

        </div>
    </body>
</html>