

<div class=footer>
	<div class=center>
		&copy;2016 MioStudio, All rights reserved | <a href='#'>Go to top</a> | 
		<a target='_blank' href='http://user.yeeyan.org/u/459202'>译言</a>
		<a target='_blank' href='http://study.163.com/course/introduction/1254013.htm#/courseDetail'>雅思听力</a>
		<a target='_blank' href='http://study.163.com/course/introduction/917004.htm#/courseDetail'>雅思口语</a>
		<a target='_blank' href='http://study.163.com/course/introduction/1253010.htm#/courseDetail'>雅思阅读</a>
		<a target='_blank' href='http://study.163.com/course/courseMain.htm?courseId=1255001'>雅思写作</a>
	</div>
</div>