<title>我的微博</title>

<import type='css' file="css.common" />

		<h2><a href='__URL__'>我的微博</a>  
			<span class='out-link'>
				<a target='_blank' href='./weibo/archive'>归档</a>
				<a target='_blank' href='http://dict.youdao.com/'>youdao</a>
				<a target='_blank' href='http://translate.google.cn/'>谷歌翻译</a>
				<a target='_blank' href='http://tieba.baidu.com/p/4508353424'>tieba</a>
				<a target='_blank' href='http://lofter.dawneve.cc/'>lofter</a>
				<a target='_blank' href='http://zhengzhi2014.blog.163.com/'>blog</a>
				<a target='_blank' href='http://music.163.com/#/djradio?id=334046051'>英语读报电台</a>
				
				
				<a target='_blank' href='http://study.163.com/find.htm#/courselist?ct=47'>video</a>
				<a target='_blank' href='http://pan.baidu.com/s/1qXHOpHi' title='密码:x7ur'>record</a>
			</span>
		</h2>