<html>

<body>
<import file='js.my' />

<!-- 
	<br><a href="__URL__/add">添加</a>
 -->

	
<div class='header'>
	<div class='center'>
		<include file="header" />
		<div class='title'>请输入内容：</div>
		<form method='post' action="__URL__/insert">
			<textarea type='text' name='content'  rows="10" cols="105"></textarea><br />
			<div class=right>
				<input type='submit' name=send value='发布'>
			</div>
			<div class=left>
				<select id="mySelect" name='cid'>
				  <option>-请选择分类-</option>
				  <option value='1'>雅思</option>
				  <option value='2'>听力</option>
				  <option value='3'>口语</option>
				  <option value='4'>阅读</option>
				  <option value='5'>写作</option>
				</select>
			</div>
		</form>
			
	</div>
</div>



<div class=content>
	<div class=center>
		<volist name="weibo" id="vo" empty="暂时没有数据">
			<div class=item>
				<div class=info>
					<span>#{$vo.id}, {$vo.add_time|date='Y-m-d H:i:s',###}, by {$vo.uid}, 
					
					<if condition="$vo.cid neq '0'">
						cate: <a href="<?php
						//实在解决不了引号问题了，就用原生php
						echo U('Weibo/index',array('tag'=>$vo[cid])); ?>">{$vo.name}</a>
					<else />
						cate:Null
					</if>
					
					
					</span>
					<div class='control right'>
						<if condition="$vo.cid neq '0'">
						<else /> <a href="<?php
                        //实在解决不了引号问题了，就用原生php
                        echo U('Weibo/delete',array('id'=>$vo[id]));
                        
                        //__URL__/delete/id/2
                        ?>">删除</a>
						</if>

					</div>
				</div>
				<div class=text>{$vo.content|nl2br}</div>
				
			</div>
		</volist>
	</div>
</div>


<include file="footer" />

</body>
</html>