<title>我的微博</title>

<import type='css' file="css.common" />
<import file='js.my' />

<!-- 
	<br><a href="__URL__/add">添加</a>
 -->

<div class='header'>
	<div class='center'>
		<h2><a href='__URL__'>我的微博</a>  
			<span class='out-link'>
				<a target='_blank' href='http://translate.google.cn/'>谷歌翻译</a>
				<a target='_blank' href='http://dict.youdao.com/'>youdao</a>
				<a target='_blank' href='http://lofter.dawneve.cc/'>lofter</a>
				<a target='_blank' href='http://zhengzhi2014.blog.163.com/'>blog</a>
				<a target='_blank' href='http://study.163.com/find.htm#/courselist?ct=47'>video</a>
				<a target='_blank' href='http://pan.baidu.com/s/1qXHOpHi' title='密码:x7ur'>record</a>
				
			</span>
		</h2>
		
		
		<div class='title'>请输入内容：</div>
		<form method='post' action="__URL__/insert">
			<textarea type='text' name='content'  rows="10" cols="105"></textarea><br />
			<div class=right>
				<input type='submit' name=send value='发布'>
			</div>
			<div class=left>
				<select id="mySelect" name='cid'>
				  <option>-请选择分类-</option>
				  <option value='1'>雅思</option>
				  <option value='2'>听力</option>
				  <option value='3'>口语</option>
				  <option value='4'>阅读</option>
				  <option value='5'>写作</option>
				</select>
			</div>
		</form>
			
			
	</div>
</div>



<div class=content>
	<div class=center>
		<volist name="weibo" id="vo" empty="暂时没有数据">
			<div class=item>
				<div class=info>
					<span>#{$vo.id}, {$vo.add_time|date='Y-m-d H:i:s',###}, by {$vo.uid}, 
					
					<if condition="$vo.cid neq '0'">
						cate: <a href="__URL__/index/tag/{$vo.cid}">{$vo.name}</a>
					<else />
						cate:Null
					</if>
					
					
					</span>
					<div class='control right'>
						<if condition="$vo.cid neq '0'">
						<else /> <a href='__URL__/delete/id/{$vo.id}'>删除</a>
						</if>
						




					</div>
				</div>
				<div class=text>{$vo.content|nl2br}</div>
				
			</div>
		</volist>
	</div>
</div>



<div class=footer>
	<div class=center>
		&copy;2016 MioStudio, All rights reserved | <a href='#'>Go to top</a> | 
		<a target='_blank' href='http://user.yeeyan.org/u/459202'>译言</a>
		<a target='_blank' href='http://study.163.com/course/introduction/1254013.htm#/courseDetail'>雅思听力</a>
		<a target='_blank' href='http://study.163.com/course/introduction/917004.htm#/courseDetail'>雅思口语</a>
		<a target='_blank' href='http://study.163.com/course/introduction/1253010.htm#/courseDetail'>雅思阅读</a>
		<a target='_blank' href='http://study.163.com/course/courseMain.htm?courseId=1255001'>雅思写作</a>
	</div>
</div>